body {
    background: rgba(0, 0, 0, 0.68) url(images/background-image.jpg) center/cover no-repeat fixed;
    background-blend-mode: overlay;
    min-height: 100vh;
    font-family: "Funnel Sans", sans-serif;
    margin: 0px 40px;
    color: rgb(182, 182, 182); /* remove later? */
}

/* navbar */
@media (min-width: 992px) /* large screen */
{
    #navbarList {
        position: absolute;
        left: 50%; /* pushes left edge halfway across screen */
        transform: translateX(-50%); /* centers element */
        gap: 50px !important;
    }
}
@media (max-width: 992px) {
  #navbarList li a {
    display: inline-block;
  }
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .nav-link, .nav-link:hover, .nav-link:focus, .btn-custom, .card {
    color: rgb(182, 182, 182);
}
.navbar {
    padding-top: 10px;
}

.navbar-brand {
    padding-top: 10px;
    font-size: 1.6em;
    font-weight: bold;
}

.nav-link {
    border-radius: 15px;
    outline:  none;
    transition: all 0.15s ease;
    padding: 8px 15px 8px 15px !important;
    font-weight: 500;
}
.nav-link:hover {
    background-color: rgb(114, 0, 167) !important;
    transform: scale(1.1);
}
.nav-link:focus {
    box-shadow: 0 0 0 1.5px rgb(174, 0, 255);
}

.navbar-toggler-icon {
    filter: invert(1); /* inverts color of hamburger */
} 

#nav-hr {
    margin: 0 0 20px 0;
}

/* welcome box */
.box {
    background-color: rgba(5, 5, 7, 0.625);
    border-radius: 25px;
}

#welcome-box {
    max-width: 695px;
    margin-bottom: 25px;
    padding: 20px 60px;
}
#welcome-box h1, #welcome-box p, #title, #subtitle {
    text-align: center;
}
#welcome-box p {
    margin: 0;
}
#welcome-box ul {
    display: grid;
    justify-content: center;
}

.purple-bold {
    font-weight: bold;
    color: rgb(191, 54, 255);
}
.white-bold {
    font-weight: bold;
    color: rgb(212, 212, 212);
}

/* custom button */
.btn-custom {
    background-color: rgb(174, 0, 255);
    transition: all 0.15s ease;
    border: none;
    min-width: 60px;
}
.btn-custom:hover {
    background-color: rgb(114, 0, 167) !important;
    transform: scale(1.05);
}
.btn-custom:focus {
    background-color: rgb(174, 0, 255);
    box-shadow: 0 0 0 1.5px rgb(192, 58, 255);
}

/* view button */
#viewList {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    max-width: 175px;
}

/* lower main page boxes */
h2 {
    font-size: 25px;
}
h3 {
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
}

#lists-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    text-align: center;
    justify-items: center;
}

#abc-box, #month-box, #attempt-box {
    overflow: hidden;
}
.box {
    padding: 20px 20px 0px 20px;
    grid-column: 1 / span 12;
    max-width: 500px;
    width: 100%;
    height: auto;
}

#month-box ul, #abc-box ul {
    list-style-type: none;
    padding: 0;
}
ol {
    list-style-position: inside;
    padding: 0;
}

#changelog-box ul {
    text-align: left;
}
#changelog-box li {
    margin-bottom: 5px;
}
ul li::marker
{
    color: rgb(90, 90, 90);
}

#changelog-box {
    padding-right: 25px;
    margin-bottom: 16px;
    max-height: 340px;
    display: flex;
    flex-direction: column;
}
#changelogs {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgba(191, 54, 255, 0) rgba(51, 51, 51, 0);
    scrollbar-width: thin;
    padding-right: 10px;
}
#changelog-box, #abc-box, #month-box, #attempt-box {
    min-height: 200px; /* make them match their original sizes ~ chose not to but in case i change my mind */
}

.list, .levels-container, #changelogs, #demon-counts {
    display: none;
}

html { /* damn you firefox */
    scrollbar-color: rgb(191, 54, 255) rgb(13, 10, 14);
}
#changelogs:hover {
    scrollbar-color: rgb(191, 54, 255) rgba(51, 51, 51, 0.186);
}

/*
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(191, 54, 255);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(90, 90, 90);
  border-radius: 10px;
} */

@media (max-width: 576px) {
    body {
        margin: 0px 15px;
    }
}

@media (min-width: 995px) { /* 1145 px in case i wanna change it back */
    #lists-container {
        max-width: 1225px;
    }
    #abc-box {
        grid-column: 2 / span 5;
        grid-row: 1 / span 2;
    }
    #month-box {
        grid-column: 7 / span 5;
    }
    #attempt-box {
        grid-column: 7 / span 5;
    }
    #changelog-box {
        grid-column: 2 / span 10;
        max-width: 100%;
    }
}
@media (min-width: 1415px) {
    #lists-container {
        max-width: 1500px;
        margin-bottom: 30px;
    }
    #abc-box {
        grid-column: 1 / span 4;
        height: 98%;
    }
    #month-box {
        grid-column: 5 / span 4;
    }
    #attempt-box {
        grid-column: 9 / span 4;
        height: 100%;
    }
    #changelog-box {
        grid-column: 5 / span 8;
        height: 100%;
    }
}

#changelog-pages {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#changelog-pages input { /* idfk */
    min-width: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(128, 128, 128, 0);
    border: 1px solid rgb(191, 54, 255);
}
#changelog-pages input[type="number"] {
    width: 50px;
}
.active {
    background-color: rgb(148, 0, 216) !important;
}

/* gets rid of the up/down arrows */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    appearance:textfield; /* firefox */
}

/* spinner */
.loader-container {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.box-loader, #changelog-loader {
  border: 4px solid rgb(191, 54, 255);
  border-top: 4px solid rgba(204, 93, 255, 0.278);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* animation for info loading */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.6s;
  animation-name: animatebottom;
  animation-duration: 0.6s
}

@-webkit-keyframes animatebottom {
  from {bottom:-25px; opacity:0} 
  to {bottom:0px; opacity:1}
}

@keyframes animatebottom { 
  from {bottom:-25px; opacity:0} 
  to {bottom:0; opacity:1}
}

/* card stuff */
.card-container
{
    display: block;
    background: rgba(65, 65, 65, 0.446) center;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.213);
    max-width: 1200px; /* change if needed */
    text-decoration: none;
    transition: all 0.3s ease;
}

.card-container:hover
{
    transform: scale(1.03);
}

.card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    background: rgba(30, 30, 30, 0.48);
    border: 1px solid rgba(208, 208, 208, 0.49);
    padding: 3px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
}

.card-image {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}
.card-image img {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
}

.info-top {
    grid-column: 4 / span 9;
}

.info-left {
    grid-column: 4 / span 5;
}

.info-right {
    grid-column: 9 / span 4;
}

.info-top, .info-left, .info-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.793);
    padding: 10px;
    border-radius: 5px;
}

.card p {
    margin: 0px;
}

.info-block {
    text-align: center;
}

/* only main lists */
@media (max-width: 994px) {
    .card p {
        font-size: 0.8em;
    }
    .info-top, .info-left, .info-right {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .card-image {
        display: none;
    }
    .info-top {
        grid-column: 1 / span 12;
    }
    .info-left {
        grid-column: 1 / span 7;
    }
    .info-right {
        grid-column: 8 / span 5;
    }
}

@media (max-width: 576px) {
    .card p {
        font-size: 0.9em;
    }
    .info-left, .info-right {
        grid-column: 1 / span 12;
    }
}